@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}

/* Responsiveness coding */
@media screen and (max-width: 1025px) {
  html {
    font-size: 93%;
  }
}
@media screen and (max-width: 580px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 510px) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 70%;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 60%;
  }
}
